.bundle
db/*.sqlite3
log/*.log
tmp/**/*
test
test/*
.redcar
.redcar/*
*.*.swp
*.swp
.idea
.idea/*
nbproject
nbproject/*
public/system/
public/system/*
.bash_history
.bundle/*
.directory
.gem/*
.idea/*
.mysql_history
log/*
