body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 600px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}


.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form div.textarea, .simple_form input[type="submit"] {
  margin-left: 120px;
}

.simple_form div.boolean label {
  float: none;
  margin: 0;
}

/* 2.2 Navigation */
#navigation {
  height: 38px;
  width: 886px;
  padding: 0 26px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lucida Grande", Helvetica, Arial, Sans-serif;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: #fff repeat-x left top;
}

#navigation .search, #navigation #user_nav {
  float: right;
  margin: 0;
  /*width: 215px;*/
}

#navigation #user_nav {
  text-transform: none;
}
#navigation .search #searchform, #navigation #user_nav {
  margin: 10px 0 0 0;
}

#navigation .search input#s {
  float: left;
  width: 176px;
  padding: 6px 0 6px 10px;
  background: url(images/searchinput.png) no-repeat left top;
  border: none;
  color: #777;
}

#navigation .search input.submit {
  float: right;
  padding: 6px 0 0 8px;
}

#nav {
  float: left;
  width: 650px;
  height: 36px;
}

#nav, #nav ul {
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

#nav a {
  display: block;
  z-index: 100;
  padding: 0 10px;
  line-height: 28px;
  color: #999;
  line-height: 38px;
}

#nav a:hover, #nav .current_page_item a {
  color: #333;
  text-decoration: none;
}

#nav li {
  float: left;
  width: auto;
  margin: 0 5px 0 0;
}

/* 2.2.1 Drop-down menus */
#nav li ul {
  position: absolute;
  left: -999em;
  width: 170px;
  border: 1px solid #F7F6F6;
}

#nav li ul li {
  background: #fff url(images/navtile.jpg) repeat-x left top;
  border-width: 0 1px 1px;
  margin: 0;
  padding: 0;
}

#nav li ul li a {
  width: 160px;
  line-height: 30px;
  font-size: 11px;
  color: #555;
}

#nav li ul li a:hover {
  background: #e8e8e8;
}

#nav li ul ul {
  margin: -32px 0 0 170px;
}

#nav li ul ul li a {
}

#nav li ul li ul li a {
}

#nav li:hover, #nav li.hover {
  position: static;
}

#nav li:hover ul ul, #nav li.sfhover ul ul,
#nav li:hover ul ul ul, #nav li.sfhover ul ul ul,
#nav li:hover ul ul ul ul, #nav li.sfhover ul ul ul ul {
  left: -999em;
}

#nav li:hover ul, #nav li.sfhover ul,
#nav li li:hover ul, #nav li li.sfhover ul,
#nav li li li:hover ul, #nav li li li.sfhover ul,
#nav li li li li:hover ul, #nav li li li li.sfhover ul {
  left: auto;
}

