<% @page_title = 'Edit report' %>

<h3><%= t('general.edit') %></h3>

<%= render 'formEdit' %>

<p>
  <%= link_to t('general.edit'), @reports %> |
  <%= link_to t('general.view'), reports_path %>
</p>
