<div class="clear-block"></div>
<div id="footer" class="col-full">

  <div class="top">
    <div id="widget-left" class="col-left">
    </div>

    <div id="widget-right" class="col-right">
    </div>

    <div class="fix"></div>
  </div>

  <div class="bottom">

    <div id="copyright" class="col-left">
      <p>© 2011 Delegate. All Rights Reserved.</p>
    </div>

    <div id="credit" class="col-right">
      <p>Developed by&nbsp;
        <a href="http://im.kg"><img src="/images/woothemes.png" width="70" height="17" alt="Delegate theme by WooThemes"></a>
      </p>

    </div>

  </div>
</div>
